.erron{
    color:red;
}
.InputK{
    height: 20px;
    width: auto;
    padding: 8px 8px;
    border-radius: 4px;
    background-color:white;
    font-size: 24px;
    line-height:40px;
    border: 2px solid #eee;
}
.ButtonK{
    float: left;
    border:none;
    border-radius: 4px;
    background-color:white;
    border: 2px solid #eee;
    color:black;
    vertical-align:middle;
    font-size: 20px;
    width: 100px;
    height: 40px;
}
.flex{
    display: flex;
}
.flex1{
    flex:1;
}
.coflex{
    flex-direction: column;
}
.YinYing{
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.Icon{
    border-radius: 10px;
    margin: 5px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background-color:white;
    box-sizing: 5px;
}